html {
    --yellow: rgb(251, 212, 43);
    --light-grey: rgb(250, 247, 248);
}

body {
    margin: 0;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: var(--light-grey); */
    /* padding-top: 149px; */
    overflow-x: hidden;
}

main > h2 {
    --font-size: 55px;
    font-size: var(--font-size);
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(251, 212, 43);
    text-align: center;
    margin: 20px 0 48px;
}

section {
    display: flex;
    /* border: 1px solid; */
    /* margin-bottom: 1em; */
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--light-grey);
}

.search_input_btn {
}

.hoverable, .btn_lnk, .btn_icon {
    transition: box-shadow 150ms, transform 150ms;
}

.hoverable:hover, .btn_lnk:hover, .btn_icon:hover {
    box-shadow: 0px 0px 12px -6px black;
    transform: scale(1.01, 1.01);
    line-height: 0px;
}

.btn_lnk {
    display: inline-flex;
    height: 35px;
    min-width: 150px;
    background-color: var(--yellow);
    /* box-sizing: border-box; */
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0.2em 2ch;
    font-weight: 700;
}

.btn_icon {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--yellow);
    border: 0;
    background-size: 52%;
    background-position: center center;
    cursor: pointer;
    display: inline-block;
}

.btn_lnk--secondary {
    color: white;
    background: black;
}

.btn_lnk--uppercase {
    text-transform: uppercase;
    padding: 0.2em 1em;
}


.lnk {
    font-size: 21px;
    color: black;
}

.search_input_btn {
    background-image: url('img/search.svg');
}

#search>h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 0.5em;
}

.search_input_wrapper {
}

.search_input {
    --width: 250px;
    --height: 45px;
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 10px;
}

.search_input:focus {
}

.box {
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0;
    height: var(--height);
    width: var(--width);
    position: relative;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    z-index: 0;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transition: filter 150ms, box-shadow 150ms;
    will-change: filter, box-shadow;
}

.box:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(24px at 106% 50%, transparent 98%, rgba(0, 0, 0, .8) 99%, transparent 113%);
}

.searchbox {
    border: 0;
    filter: none;
    position: absolute;
    z-index: 10;
    padding: 0 2em 0 1em;
    outline: 0;
    box-sizing: border-box;
    margin-left: -1px;
    width: calc(var(--width) + 20px);
    height: calc(var(--height) + 2px);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    --mask: radial-gradient(24px at 100% 50%, rgb(0 0 0 / 0%) 99%, rgba(0, 0, 0, 1) 92%);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    font-size: 20px;
}

.searchbox:hover ~ .box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: -4px 0px 10px -13px black;
}

.searchbox:focus ~ .box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: -4px 0px 20px -13px black;
}

section#search {
    padding: 30px;
}

section#icons {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 227px;
    /* background-color: var(--light-grey); */
    /* background: radial-gradient(circle at 50% 127%, red 40%, var(--light-grey) 66% ); */
    /* background: url('img/oval-down.svg'); */
    box-sizing: border-box;
    background: radial-gradient(ellipse at 50% 50%, white 72%, rgb(250 246 248) 72%);
    background-size: 125% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.icons_btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 131px;
    position: relative;
}

.icons_btn .btn_icon {
    width: 80px;
    height: 80px;
}

.icons_btn p {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 17px;
}

.btn_icon, .btn_lnk {
    transition: box-shadow 150ms;
}

section#slideshow_wrapper {
    /* height: 400px; */
    gap: 0;
    padding: 40px 0;
}

h2 {
    font-size: 27px;
    margin-bottom: 3px;
}

#slideshow_wrapper > p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#opportunita_wrapper {
    height: 828px;
    background: radial-gradient(ellipse at 50% 50%, white 70%, rgb(250 246 248) 70%);
    background-size: 240% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

#casting {
    height: 575px;
}

.btn_icon[data-icon] {
    background-position: center center;
}

.btn_icon[data-icon='plus'] {
    background-image: url('img/plus.svg');
}

.btn_icon[data-icon='users'] {
    background-image: url('img/users.svg');
}

.btn_icon[data-icon='casting'] {
    background-image: url('img/casting.svg');
}

.btn_icon[data-icon='magazine'] {
    background-image: url('img/magazine.svg');
}

#slideshow_magazine {
    width: 1440px;
    /* height: 250px; */
    overflow: hidden;
    margin-bottom: 25px;
    width: 100%;
}

#slideshow_magazine img {
    /* height: 250px; */
    width: calc(1440px / 3);
    /* object-fit: contain; */
    position: relative;
}

.slideshow_label {
    text-transform: uppercase;
    font-size: 20px;
    top: -40px;
    position: relative;
    background-color: rgba(0,0,0,.4);
    color: white;
    height: 40px;
    /* font-size: 100%; */
    padding: 5px;
    box-sizing: border-box;
    display: none;
}

#opportunita_wrapper > p {
    font-size: 25px;
    margin: 0;
}

#opportunita_wrapper > h2 {
    font-size: 35px;
}

.opportunita {
    display: flex;
    gap: 3vw;
    height: 550px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    box-sizing: content-box;
}

.opportunita section {
    height: 100%;
    background: white;
    width: 300px;
    border-radius: 32px;
    box-shadow: 0px 0px 38px -23px black;
}

.opportunita section header {
    display: flex;
    flex-direction: column;
    background: var(--yellow);
    height: 100px;
    margin: 0;
    width: 100%;
    font-size: 23px;
    border-radius: 32px 32px 0 0;
    justify-content: center;
    align-items: center;
}

.opportunita section header:after {
    content: '';
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--yellow);
    clear: both;
}

.opportunita section b {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.opportunita section main {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 65px;
    height: 50%;
    /* border-color: black; */
    /* border-style: solid; */
    /* border-width: 1px 0 1px 0; */
    justify-content: center;
}

.opportunita section main:before, .opportunita section main:after {
    content: "";
    height: 1px;
    /* border-top: 1px solid grey; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #00000021;
    position: absolute;
}

.opportunita section main:after {
    bottom: 30px;
}

.opportunita_content {
    display: flex;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opportunita_wrapper > a {
    margin-bottom: 1em
}

.casting > h2 {
    display: inline-flex;
}

.casting_info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    width: 100%;
    margin-top: 25px;
}

.casting_info_btns {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.casting_image {
    --height: 350px;
    display: flex;
    width: 100%;
    height: var(--height);
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.casting_image img.primary {
    width: 600px;
    height: 100%;
}

.casting_image img {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 100ms;
}


.casting_image_secondary img {
    height: calc(var(--height) / 2 - 12px);
    width: 300px;
}

.casting_image_secondary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: var(--height);
}

.casting_image a {
    border-radius: 10px;
}

.casting_image .hoverable {
    box-shadow: 0px 0px 7px -5px black;
}

.casting_image .hoverable:hover {
    box-shadow: 0px 0px 15px -6px black;
}



footer {
    background: white;
    display: flex;
    /* height: 100px; */
    box-shadow: 0px -2px 11px -6px black;
    flex-direction: column;
    z-index: 10;
    position: relative;
    align-items: center;
    padding: 1em 1em 0;
}

.footer_lnks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_content img {
    width: 200px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 945px) {
    #casting {
        height:auto;
    }

    .casting_info {
        max-width: 800px;
    }

    .casting_image {
        flex-direction: column;
        height: auto;
        gap: 50px;
    }

    .casting_image_secondary {
        height: auto
    }

    .casting_image_secondary img {
        width: 500px;
        height: 250px;
    }
}

@media only screen and (max-width: 700px) {
    body {
        width: 100vw;
        margin: 0;
    }

    section#search {
        text-align: center;
    }

    section#icons {
        flex-wrap: wrap;
        height: 340px;
    }

    section#opportunita_wrapper {
        height: auto;
        background-size: 400% 100%;
        text-align: center;
    }

    .opportunita {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .opportunita section main {
        min-height: 300px;
        height: auto;
        margin-top: 30px;
    }

    .casting_info {
        width: 100%;
        max-width: unset;
        flex-direction: column;
    }

    .casting_info_btns {
        margin-top: 10px;
    }
}

header {
    padding: 1em;
}

.title > span {
    font-size: calc(var(--font-size) - 10px);
}