html {
    --yellow: rgb(251, 212, 43);
    --light-grey: rgb(250, 247, 248);
}

body {
    margin: 0;
    /* max-width: 1440px; */
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-grey);
    /* padding-top: 149px; */
    overflow-x: hidden;
}

body>header {
    padding: 1em;
}

main > h2 {
    --font-size: 55px;
    font-size: var(--font-size);
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(251, 212, 43);
    text-align: center;
    margin: 20px 0 48px;
}

h2 {
    font-size: 27px;
    margin-bottom: 3px;
}

.title>span {
    font-size: calc(var(--font-size) - 10px);
}

section {
    display: flex;
    /* border: 1px solid; */
    /* margin-bottom: 1em; */
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--light-grey);
}

.search_input_btn {
}

.hoverable, .btn_lnk, .btn_icon {
    transition: box-shadow 150ms, transform 150ms;
}

.hoverable:hover, .btn_lnk:hover, .btn_icon:hover {
    box-shadow: 0px 0px 12px -6px black;
    transform: scale(1.01, 1.01);
    line-height: 0px;
}

.btn_lnk {
    display: inline-flex;
    height: 35px;
    min-width: 150px;
    background-color: var(--yellow);
    /* box-sizing: border-box; */
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0.2em 2ch;
    font-weight: 700;
}

.btn_icon {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--yellow);
    border: 0;
    background-size: 52%;
    background-position: center center;
    cursor: pointer;
    display: inline-block;
}

.btn_lnk--secondary {
    color: white;
    background: black;
}

.btn_lnk--uppercase {
    text-transform: uppercase;
    padding: 0.2em 1em;
}

.lnk {
    font-size: 21px;
    color: black;
}

.search_input_btn {
    background-image: url('img/search.svg');
}

#search>h3 {
    font-size: 28px;
    font-weight: 500;
    margin: 0.5em;
}

.search_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_input {
    --width: 250px;
    --height: 45px;
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 10px;
}

.search_input:focus {
}

.box {
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0;
    height: var(--height);
    width: var(--width);
    position: relative;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    z-index: 0;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transition: filter 150ms, box-shadow 150ms;
    will-change: filter, box-shadow;
}

.box:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(24px at 106% 50%, transparent 98%, rgba(0, 0, 0, .8) 99%, transparent 113%);
}

.searchbox {
    border: 0;
    filter: none;
    position: absolute;
    z-index: 10;
    padding: 0 2em 0 1em;
    outline: 0;
    box-sizing: border-box;
    margin-left: -1px;
    width: calc(var(--width) + 20px);
    height: calc(var(--height) + 2px);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    --mask: radial-gradient(24px at 100% 50%, rgb(0 0 0 / 0%) 99%, rgba(0, 0, 0, 1) 92%);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    font-size: 20px;
}

.searchbox:hover ~ .box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: -4px 0px 10px -13px black;
}

.searchbox:focus ~ .box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: -4px 0px 20px -13px black;
}

#search {
    padding: 30px;
}

.search_input_wrapper>.btn_lnk {
    max-width: 150px;
}

#icons {display: grid;grid-template-columns: 130px auto;grid-gap: 18px;height: 300px;align-items: center;justify-items: center;grid-auto-flow: column;transition: 150ms;box-sizing: border-box;background: radial-gradient(ellipse at 50% 50%, white 72%, rgb(250 246 248) 72%);background-size: 125% 100%;background-position: center;background-repeat: no-repeat;align-content: center;justify-content: center;}

.icons_btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    position: relative;
}

.icons_btn .btn_icon {
    width: 80px;
    height: 80px;
}

.icons_btn p {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 17px;
}

.btn_icon, .btn_lnk {
    transition: box-shadow 150ms;
}

#slideshow_wrapper {
    /* height: 400px; */
    gap: 0;
    padding: 40px 0;
}

#slideshow_wrapper > p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#opportunita_wrapper {
    /* height: auto; */
    min-height: 828px;
    background: radial-gradient(ellipse at 50% 50%, white 70%, rgb(250 246 248) 70%);
    background-size: 240% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.btn_icon[data-icon] {
    background-position: center center;
}

.btn_icon[data-icon='plus'] {
    background-image: url('img/plus.svg');
}

.btn_icon[data-icon='users'] {
    background-image: url('img/users.svg');
}

.btn_icon[data-icon='casting'] {
    background-image: url('img/casting.svg');
}

.btn_icon[data-icon='magazine'] {
    background-image: url('img/magazine.svg');
}

/* SLIDESHOW OPPORTUNITA  */
#slideshow_magazine {
    --height: 350px;
    display: flex;
    height: var(--height);
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 35px;
}

#slideshow_magazine img {
    height: calc(100% - 10px);
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slideshow_label {
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    top: 0px;
    left: 0;
    position: relative;
    background-color: rgb(0 0 0);
    color: white;
    height: 50px;
    line-height: 20px;
    /* font-size: 100%; */
    padding: 6px 6px 0;
    box-sizing: border-box;
    border-top: 1px solid #878787;
}

.btn_prev, .btn_next {
    height: 100%;
    width: 30px;
}

.splide__arrow {
    height: calc(var(--height) - 130px);
    border-radius: unset;
    opacity: 1;
    background: #aeb7bbb0;
    color: white;
}

.splide__arrow:disabled {
    opacity: .5;
}

.splide__arrow--prev {
    left: 5px;
}

.splide__arrow--next {
    right: 5px;
}

.splide__pagination {
    bottom: 0px;
}

.splide__pagination__page {
    background: grey;
}

.splide__pagination__page.is-active {
    background: black;
}

.slideshow_slide {
    position: relative;
    width: 100%;
}

/* SECTION OPPORTUNITA  */
#opportunita_wrapper > p {
    font-size: 25px;
    margin: 0;
}

#opportunita_wrapper > h2 {
    font-size: 35px;
}

.opportunita {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, 1fr);
    /* transition: grid-template-rows 300ms; */
    transition: 150ms;
    flex-wrap: wrap;
    gap: 3vw;
    min-height: 550px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    box-sizing: content-box;
    align-items: center;
}

.opportunita section {
    height: 550px;
    background: white;
    width: 300px;
    border-radius: 32px;
    box-shadow: 0px 0px 38px -23px black;
}

.opportunita section header {
    display: flex;
    flex-direction: column;
    background: var(--yellow);
    height: 100px;
    margin: 0;
    width: 100%;
    font-size: 23px;
    border-radius: 32px 32px 0 0;
    justify-content: center;
    align-items: center;
}

.opportunita section header:after {
    content: '';
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--yellow);
    clear: both;
}

.opportunita section b {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.opportunita section main {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 65px;
    height: 50%;
    /* border-color: black; */
    /* border-style: solid; */
    /* border-width: 1px 0 1px 0; */
    justify-content: center;
}

.opportunita section main:before, .opportunita section main:after {
    content: "";
    height: 1px;
    /* border-top: 1px solid grey; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #00000021;
    position: absolute;
}

.opportunita section main:after {
    bottom: 30px;
}

.opportunita_content {
    display: flex;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opportunita_wrapper > a {
    margin-bottom: 1em
}

/* SECTION CASTING */
#casting {
    height: 575px;
}

.casting > h2 {
    display: inline-flex;
}

.casting_info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    width: 100%;
    margin-top: 25px;
}

.casting_info_btns {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.casting_images {
    --height: 350px;
    display: flex;
    width: 100%;
    height: var(--height);
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.casting_images img.primary {
    width: 600px;
    height: 100%;
}

.casting_images img {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 100ms;
}

.casting_image_secondary img {
    height: calc(var(--height) / 2 - 12px);
    width: 300px;
}

.casting_image_secondary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    height: var(--height);
}

.casting_images a {
    border-radius: 10px;
}

.casting_images .hoverable {
    box-shadow: 0px 0px 7px -5px black;
}

.casting_images .hoverable:hover {
    box-shadow: 0px 0px 15px -6px black;
}

footer {
    background: white;
    display: flex;
    /* height: 100px; */
    box-shadow: 0px -2px 11px -6px black;
    flex-direction: column;
    z-index: 10;
    position: relative;
    align-items: center;
    padding: 1em 1em 0;
}

.footer_lnks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_content img {
    width: 200px;
}

.footer_content {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1305px) {
    .opportunita {
        grid-template-rows: repeat(2, 1fr);
    }    
    
}


@media only screen and (max-width: 945px) {
    #casting {
        height:auto;
    }

    .casting_info {
        max-width: 800px;
    }

    .casting_images {
        flex-direction: column;
        height: auto;
        gap: 50px;
        width: calc(100% - 2em);
    }

    .casting_image_secondary {
        width: 100%;
        height: auto;
    }

    .casting_image_secondary img {
        width: 500px;
        height: 250px;
    }
}

@media only screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        width: 100vw;
        margin: 0;
    }

    #search {
        text-align: center;
    }

    .search_input_wrapper>.btn_lnk{
        max-width: unset;
        width: auto;
    }
    

    
    #icons {
        flex-wrap: wrap;
        /* height: 340px; */
        /* row-gap: 30px; */
        grid-template-columns: 130px 130px;
        grid-auto-flow: row;
        grid-gap: 18px;
    }

    #icons .btn_icon {
        width: 60px;
        height: 60px;
    }

    .icons_btn p{
        font-size: 18;
    }

    .splide__arrow {
        display: none;
    }

    #opportunita_wrapper {
        height: auto;
        background-size: 400% 100%;
        text-align: center;
    }

    #opportunita_wrapper > h2 {
        font-size: 30px;
    }

    #opportunita_wrapper > p {
        font-size: 20px;
        width: 80%;
    }

    .opportunita {
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    }

    .opportunita section {
        width: 350px;
    }

    .opportunita section main {
        min-height: 300px;
        height: auto;
        margin-top: 30px;
    }

    .casting_info {
        width: 100%;
        max-width: unset;
        flex-direction: column;
    }

    .casting_info_btns {
        margin-top: 10px;
    }

    .casting_images img.primary {
        width: 100%;
    }

    .casting_image_secondary img {
        width: 100%;
    }
    
    .casting_image_secondary .hoverable {
        width: calc(100% - 2em);
    }
}