html {
    --yellow: rgb(251, 212, 43);
    --light-grey: rgb(250, 247, 248);
    --header_height: 72px;
}

body {
    margin: 0;
    /* max-width: 1920px; */
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-grey);
    /* padding-top: 149px; */
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
}

form {
    margin: 0;
}




body > main {
    margin-top: 80px;
    width: 100vw;
    overflow-x: hidden;
}

main>h2 {
    --font-size: 55px;
    font-size: var(--font-size);
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(251, 212, 43);
    text-align: center;
    margin: 20px 0 48px;
}

h2 {
    font-size: 27px;
    margin-bottom: 3px;
}

.title>span {
    font-size: calc(var(--font-size) - 10px);
}

section {
    display: flex;
    /* border: 1px solid; */
    /* margin-bottom: 1em; */
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--light-grey);
}

.search_input_btn {}

.hoverable,
.btn_lnk,
.btn_icon {
    transition: box-shadow 150ms, transform 150ms;
}

.hoverable:hover,
.btn_lnk:hover,
.btn_icon:hover {
    box-shadow: 0px 0px 12px -6px black;
    transform: scale(1.01, 1.01);
    /* line-height: 0px; */
}

.btn_lnk {
    display: inline-flex;
    height: 35px;
    min-width: 150px;
    background-color: var(--yellow);
    /* box-sizing: border-box; */
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 0.2em 2ch;
    font-weight: 700;
    white-space: pre;
    cursor: pointer;
}

.btn_icon {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: var(--yellow);
    border: 0;
    background-size: 52%;
    background-position: center center;
    cursor: pointer;
    display: inline-block;
}

.btn_lnk--secondary {
    color: white;
    background: black;
}

.btn_lnk--tertiary {
    background-color: #343a40;
    color: white;
}

.btn_lnk--uppercase {
    text-transform: uppercase;
    padding: 0.2em 1em;
}

.lnk {
    font-size: 21px;
    color: black;
}

.search_input_btn {
    background-image: url('images/search.svg');
}

#search>h3 {
    font-size: 28px;
    font-weight: 400;
    margin: 0.5em;
}

.search_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.search_input {
    --width: 250px;
    --height: 45px;
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 10px;
}

.search_input:focus {}

.box {
    border: 1px solid rgba(0, 0, 0, 1);
    border-right: 0;
    height: var(--height);
    width: var(--width);
    position: relative;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    z-index: 0;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transition: filter 150ms, box-shadow 150ms;
    will-change: filter, box-shadow;
}

.box:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(24px at 106% 50%, transparent 98%, rgba(0, 0, 0, .8) 99%, transparent 113%);
}

.searchbox {
    border: 0;
    filter: none;
    position: absolute;
    z-index: 10;
    padding: 0 2em 0 1em;
    outline: 0;
    box-sizing: border-box;
    margin-left: -1px;
    width: calc(var(--width) + 25px);
    height: calc(var(--height) + 2px);
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    --mask: radial-gradient(24px at 100% 50%, rgb(0 0 0 / 0%) 99%, rgba(0, 0, 0, 1) 92%);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    font-size: 20px;
}

.searchbox:hover~.box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: -4px 0px 10px -13px black;
}

.searchbox:focus~.box {
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));
    box-shadow: 0px 0px 20px -13px black;
}

#search {
    padding: 30px;
}

.search_input_wrapper>.btn_lnk {
    max-width: 150px;
}

#icons {
    display: grid;
    grid-template-columns: 130px auto;
    grid-gap: 18px;
    height: 300px;
    align-items: center;
    justify-items: center;
    grid-auto-flow: column;
    transition: 150ms;
    box-sizing: border-box;
    background: radial-gradient(ellipse at 50% 50%, white 72%, rgb(250 246 248) 72%);
    background-size: 125% 100%;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    justify-content: center;
}

.icons_btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    position: relative;
}

.icons_btn .btn_icon {
    width: 80px;
    height: 80px;
}

.icons_btn p {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 17px;
    white-space: nowrap;
}

.btn_icon,
.btn_lnk {
    transition: box-shadow 150ms;
}

#slideshow_wrapper {
    /* height: 400px; */
    gap: 0;
    padding: 40px 0;
    /* width: 100vw; */
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

#slideshow_wrapper>p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#opportunita_wrapper {
    /* height: auto; */
    min-height: 828px;
    background: radial-gradient(ellipse at 50% 50%, white 70%, rgb(250 246 248) 70%);
    background-size: 240% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.btn_icon[data-icon] {
    background-position: center center;
}

.btn_icon[data-icon='plus'] {
    background-image: url('images/plus.svg');
}

.btn_icon[data-icon='users'] {
    background-image: url('images/users.svg');
}

.btn_icon[data-icon='signin'] {
    background-image: url('images/signin.svg');
}

.btn_icon[data-icon='casting'] {
    background-image: url('images/casting.svg');
}

.btn_icon[data-icon='magazine'] {
    background-image: url('images/magazine.svg');
}

/* SLIDESHOW OPPORTUNITA  */
#slideshow_magazine {
    --height: 350px;
    display: flex;
    height: var(--height);
    overflow: hidden;
    margin-top: 15px;
    /* width: 100%; */
    margin-bottom: 35px;
}

#slideshow_magazine img {
    height: calc(100% - 10px);
    width: 100%;
    object-fit: cover;
    position: relative;
}

.slideshow_label {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  bottom: 0px;
  left: 0;
  position: absolute;
  background-color: rgb(0 0 0 / 68%);
  color: white;
  height: 60px;
  line-height: 20px;
  padding: 6px 6px;
  box-sizing: border-box;
  border-top: 1px solid #878787;
  flex-direction: column;
  justify-content: center;
}

.slideshow_label a{
  color: white;
}

.btn_prev,
.btn_next {
    height: 100%;
    width: 30px;
}

.splide__arrow {
    height: calc(var(--height) - 130px);
    border-radius: unset;
    opacity: 1;
    background: #aeb7bbb0;
    color: white;
}

.splide__arrow:disabled {
    opacity: .5;
}

.splide__arrow--prev {
    left: 5px;
}

.splide__arrow--next {
    right: 5px;
}

.splide__pagination {
    bottom: 0px;
}

.splide__pagination__page {
    background: grey;
}

.splide__pagination__page.is-active {
    background: black;
}

.slideshow_slide {
    position: relative;
    width: 100%;
}

/* SECTION OPPORTUNITA  */
#opportunita_wrapper>p {
    font-size: 25px;
    margin: 0;
}

#opportunita_wrapper>h2 {
    font-size: 35px;
}

.opportunita {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, 1fr);
    /* transition: grid-template-rows 300ms; */
    transition: 150ms;
    flex-wrap: wrap;
    gap: 3vw;
    min-height: 550px;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    box-sizing: content-box;
    align-items: center;
}

.opportunita section {
    height: 550px;
    background: white;
    width: 300px;
    border-radius: 32px;
    box-shadow: 0px 0px 38px -23px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.opportunita section header {
    display: flex;
    flex-direction: column;
    background: var(--yellow);
    height: 100px;
    margin: 0;
    width: 100%;
    font-size: 23px;
    border-radius: 32px 32px 0 0;
    justify-content: center;
    align-items: center;
}

.opportunita section header:after {
    content: '';
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    top: 100px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--yellow);
    clear: both;
}

.opportunita section b {
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.opportunita section main {
    display: flex;
    width: 100%;
    position: relative;
    /* margin-top: 40px; */
    height: 50%;
    /* border-color: black; */
    /* border-style: solid; */
    /* border-width: 1px 0 1px 0; */
    justify-content: center;
    align-items: stretch;
    height: calc(550px - 130px);
}

.opportunita section main:before,
.opportunita section main:after {
    content: "";
    height: 1px;
    /* border-top: 1px solid grey; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #00000021;
    position: absolute;
    top: 25px;
}

.opportunita section main:after {
    /* bottom: 16px; */
    top: 95%;
}

.opportunita_content {
    display: flex;
    font-size: 18px;
    text-align: justify;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    letter-spacing: 0.3px;
    gap: 20px;
}

#opportunita_wrapper>a {
    margin-bottom: 1em
}

/* SECTION CASTING */
#casting {
    /* height: 575px; */
    height: auto;
}

.casting>h2 {
    display: inline-flex;
}

.casting_info {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 950px;
    width: 100%;
    margin-top: 25px;
}

.casting_info_btns {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.casting_images {
    --height: 350px;
    --gap: 24px;
    display: flex;
    grid-template-areas:
        "primary secondary"
        "primary tertiary"
        ". .";
    /* grid-template-rows: [secondary] calc(var(--height) / 2) [tertiary] calc(var(--height) / 2) calc(var(--height) / 2); */
    /* grid-template-columns: [primary] 600px [secondary] 300px [tertiary] 300px; */
    /* height: var(--height); */
    height: auto;
    gap: var(--gap);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.casting_images--primary>.hoverable>img {
    width: 600px;
    height: 100%;
}

.casting_images--primary {
    display: flex;
    gap: var(--gap);
    height: var(--height);
}

.casting_images img {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 100ms;
    width: 100%;
    height: 100%;
    position: relative;
}

.casting_images--secondary img {
    height: calc(var(--height) / 2 - 12px);
    width: 300px;
}

.casting_images--secondary {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: flex-start;
    height: var(--height);
}



.casting_images--tertiary {
    display: grid;
    grid-template-rows: calc(var(--height) / 2);
    grid-template-columns: repeat(2, calc(300px - (var(--gap) / 2))) 300px;
    gap: var(--gap);
    flex-direction: row;
    /* height: calc(var(--height) / 2); */
    width: 100%;
}

.casting_images a {
    border-radius: 10px;
}

.casting_images .hoverable {
    box-shadow: 0px 0px 7px -5px black;
    position: relative;
}

.casting_images .hoverable:hover {
    box-shadow: 0px 0px 15px -6px black;
}

.casting_images .hoverable span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-transform: lowercase;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    text-shadow: 1px 1px 3px black;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255,255,255,0) 16%, rgb(0 0 0 / 47%) 100%);
}

.casting_images .hoverable span:first-letter{
    text-transform: uppercase;
}

footer {
    background: #343a40 !important;
    display: flex;
    height: 236px;
    box-shadow: 0px -2px 11px -6px black;
    flex-direction: column;
    z-index: 10;
    position: relative;
    align-items: center;
    padding: 3em 1em;
    color: white;
    gap: 30px;
    box-sizing: border-box;
}

footer>* {
    max-width: 960px;
}

.footer_lnks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* color: white; */
}

footer .lnk {
    color: white;
    font-size: 1rem;
}

.footer_content img {
    /* width: 200px; */
}

.footer_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.footer_social a {
    /* width: 47px; */
    display: inline-block;
    height: 27px;
}

.footer_social .fa-brands {
    color: white;
    font-size: 24px;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer_social {
    display: flex;
    gap: 24px;
}

footer>p {
    margin: 0;
}

@media only screen and (max-width: 1305px) {
    .opportunita {
        grid-template-rows: repeat(2, 1fr);
    }

}


@media only screen and (max-width: 945px) {
    #casting {
        height: auto;
    }

    .casting_info {
        max-width: 800px;
    }

    .casting_images--primary,
    .casting_images--tertiary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        height: auto;
        /* gap: 50px; */
        /* width: calc(100% - 2em); */
    }

    .casting_images--secondary,
    .casting_images--tertiary {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .casting_images--secondary img,
    .casting_images--tertiary img {
        width: 500px;
        height: 250px;
    }
}

@media only screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }

    body {
        width: 100vw;
        margin: 0;
    }

    #search {
        text-align: center;
    }

    .search_input_wrapper>.btn_lnk {
        max-width: unset;
        width: auto;
    }



    #icons {
        flex-wrap: wrap;
        /* height: 340px; */
        /* row-gap: 30px; */
        grid-template-columns: 110px 110px 110px;
        grid-auto-flow: row;
        grid-gap: 0px;
        row-gap: 10px;
    }

    #icons .btn_icon {
        width: 60px;
        height: 60px;
    }

    .icons_btn p {
        font-size: 18;
    }

    #slideshow_magazine {
        width: 100%;
    }

    .splide {
        width: 100%;
    }

    .splide__arrow {
        display: none;
    }

    #opportunita_wrapper {
        height: auto;
        background-size: 400% 100%;
        text-align: center;
    }

    #opportunita_wrapper>h2 {
        font-size: 30px;
    }

    #opportunita_wrapper>p {
        font-size: 20px;
        width: 80%;
    }

    .opportunita {
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
    }

    .opportunita section {
        width: 350px;
    }

    .opportunita section main {
        /* min-height: 300px; */
        /* height: auto; */
        margin-top: 30px;
    }

    .casting_info {
        width: 100%;
        max-width: unset;
        flex-direction: column;
    }

    .casting_info_btns {
        margin-top: 10px;
    }

    .casting_images {
        padding: 0 var(--gap);
    }

    .casting_images img,
    .casting_images .hoverable {
        width: 100% !important;
        height: 170px;
    }

}

span {}